.Plane {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.big-img {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 20px;
}

.content {
    text-align: center;
    margin-top: 200px;
    color: green;
}

li{
    padding: 40px 0px;
}

li img:hover {

        transform: translateX(30px);
        transition: transform 0.3s ease-in;
}

.path{
    width: 650px;
    height: 650px;
    border-radius: 0% 50% 50% 0%;
    background-color: red;
    position: absolute;
    z-index: -1;
    
}


.background{
    background-color:darkblue;
}

@media screen and (max-width: 320px) {

    .path{
        width: 130px;
        height: 500px;
    }

    li{
        padding: 60px 0px;
    }

    .Plane li img{
        width: 50px;
    }

    div img{
        width: 100px;

    }

    .big-img{
        padding-top: 100px;
    }

    .content h1{
        font-size: larger;
    }

    .content h5{
        margin-top: 10px;
        font-size: small;
    }
    
}